body {
  background-color: paleturquoise;
}
#friends-display-link {
  display: block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}
.friends-screen > div {
  padding-bottom: 25px;
  border-bottom: var(--main-border);
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__component {
  margin-top: 5px;
}
.friends-screen__component:last-child {
  border-top: var(--main-border);
  padding-top: 15px;
}
.friend-screen__component-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}
.friends-screen__component-list {
  overflow: auto;
  height: 550px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130px;
  animation: hideSplashScreen 0.5s ease-in-out forwards;
  animation-delay: 1s;
  z-index: 3;
  background-color: var(--point-color);
}

#splash-screen img {
  width: 100vw;
}
