.user-component__text i {
  color: hotpink;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-component__text > div {
  display: flex;
  align-items: flex-end;
}

.more-screen,
.icon-row,
.more-suggestions {
  margin-top: 35px;
}
.icon-row {
  border-top: var(--main-border);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
}
.icon-row div {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 30px;
}

.more-suggestions {
  border-top: var(--main-border);
  padding-top: 40px;
}

.more-suggestions__title {
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: flex;
}

.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--background-color);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon-image i {
  font-size: 32px;
  color: white;
}
